bleach==2.1.2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
colorama==0.3.9
CurrencyConverter==0.13.2
cycler==0.10.0
decorator==4.1.2
dj-database-url==0.4.2
Django==1.11.5
django-location-field==2.0.3
django-mathfilters==0.4.0
django-wkhtmltopdf==3.1.0
djangorestframework==3.7.7
entrypoints==0.2.3
gunicorn==19.7.1
html5lib==1.0.1
idna==2.6
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
keyboard==0.11.0
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8.3
mock==2.0.0
mpmath==1.0.0
names==0.3.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
notebook==5.2.2
numpy==1.13.3
ode==0.2.0
pandocfilters==1.4.2
parso==0.1.0
pbr==3.1.1
pickleshare==0.7.4
Pillow==2.9.0
prompt-toolkit==1.0.15
psycopg2==2.7.1
pycparser==2.18
pyglet==1.2.4
Pygments==2.2.0
PyMsgBox==1.0.6
pyparsing==2.2.0
PyScreeze==0.1.13
python-dateutil==2.6.1
PyTweening==1.0.3
pytz==2017.2
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
responses==0.3.0
selenium==3.7.0
simplegeneric==0.8.1
six==1.11.0
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==3.3.1
widgetsnbextension==3.0.8

=ImportJSON("https://efslatest.herokuapp.com/customers_json/", "/name", "noInherit, noTruncate")
